
.body{


}

.white{
    margin-top: 20px;
    background-color: white;
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}
.vertical-center-row {
 
    vertical-align: middle;
}

.yellow{
    
    background-color:   lightgoldenrodyellow;
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
  
}
.caption {
    display: block;   
}
.lowerRow{ 

     margin-top: 20px;
}